<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<!-- 부트스트랩 CSS -->
	<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
	<link href="/css/commuBoard.css" rel="stylesheet" />

</head>

<body>


	<header th:include="header :: body"></header>


	<div class="container text-center">
		<div class="row">
			<div class="col">
				<!-- 공지글 섹션 -->
				<div class="notice-section mb-4">
					<div class="row">
						<div class="col-md-8 offset-md-2"> <!-- 너비를 70% 정도로 조정 -->
							<table class="table table-hover styled-table">
								<thead>
									<tr>
										<th colspan="2">공지 글</th>
									</tr>
									<tr>
										<th>제목</th>
										<th>작성일</th>
									</tr>
								</thead>
								<tbody>
									<!-- adminWrite를 사용하여 공지사항 출력 -->
									<tr th:each="notice : ${adminWrite}">
										<td><a th:href="@{/getCommuBoard(communityNo=${notice.communityNo})}"
												th:text="${notice.title}"></a></td>
										<td th:text="${#dates.format(notice.regDate, 'yyyy-MM-dd')}"></td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
				<div class="row justify-content-center mb-3">
					<!-- 검색 폼 -->
					<div class="col-sm-auto">
						<form method="get" th:action="@{/communityBoardList}" class="form-inline">
							<select name="searchType" class="form-control mr-2">
								<option value="title">제목</option>
								<option value="author">작성자</option>
							</select>
							<input type="text" name="search" th:value="${search}" placeholder="검색어 입력"
								class="form-control mr-2" />
							<button type="submit" class="btn btn-primary">검색</button>
							<div class="col-sm-auto">
								<a th:href="@{/board/communityInsert}" class="btn btn-primary">게시물 등록</a>
							</div>
						</form>
					</div>
				</div>

				<div class="row justify-content-start">
					<div class="col-md-8 offset-md-2">
						<div class="sort-order-container" style="padding-left: 15px;">
							<form method="get" th:action="@{/communityBoardList}" class="form-inline">
								<select name="sortOrder" onchange="this.form.submit()"
									class="custom-select custom-select-sm">
									<!-- 옵션 내용 -->
									<option value="regDate,desc" th:selected="${currentSortOrder == 'regDate,desc'}">최신
										작성일순
									</option>
									<option value="viewCount,desc"
										th:selected="${currentSortOrder == 'viewCount,desc'}">조회수
										순
									</option>
									<option value="likeCount,desc"
										th:selected="${currentSortOrder == 'likeCount,desc'}">좋아요
										순
									</option>
									<option value="commentCount,desc"
										th:selected="${currentSortOrder == 'commentCount,desc'}">댓글수 순
									</option>
								</select>
							</form>
						</div>
					</div>
				</div>
				<!-- 나머지 게시글 목록 섹션 -->
				<div th:if="${communities != null}">
					<div class="row">
						<div class="col-md-8 offset-md-2"> <!-- 너비를 70% 정도로 조정 -->
							<table class="table table-hover styled-table">
								<thead>
									<tr>
										<th>제목</th>
										<th>작성자</th>
										<th>조회수</th>
										<th>좋아요</th>
										<th>댓글수</th>
										<th>작성일</th>
									</tr>
								</thead>
								<tbody>
									<tr th:each="community : ${communities.content}">
										<td><a th:href="@{/getCommuBoard(communityNo=${community.communityNo})}"
												th:text="${community.title}"></a></td>
										<td th:text="${community.member.name}"></td>
										<td th:text="${community.viewCount}"></td>
										<td th:text="${community.likeCount}"></td>
										<td th:text="${community.commentCount}"></td>
										<td th:text="${#dates.format(community.regDate, 'yyyy-MM-dd')}"></td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>


				<!-- member 게시글 페이징 섹션 -->


				<div class="pagination-commu">
					<a th:if="${communities.number > 0}"
						th:href="@{/communityBoardList(page=${communities.number - 1})}" class="prev-page">이전</a>
					<ul>
						<li th:each="pageNum : ${#numbers.sequence(1, memberTotalPages)}">
							<a th:href="@{/communityBoardList(page=${pageNum - 1})}" th:text="${pageNum}"
								th:classappend="${pageNum == memberCurrentPage ? 'current-page' : ''}"></a>
						</li>
					</ul>
					<a th:if="${memberCurrentPage < memberTotalPages}"
						th:href="@{/communityBoardList(page=${memberCurrentPage})}" class="next-page">다음</a>
				</div>
			</div>
		</div>

	</div>
	</div>



	<th:block th:include="footer.html"></th:block>


	<!-- 부트스트랩 JS -->
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>

</html>