<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">

	<title>의류 상세 페이지</title>
	<link rel="stylesheet" href="css/styles.css">
	<script src="https://cdn.portone.io/v2/browser-sdk.js"></script>


</head>

<body>
	<header th:include="Header :: body"></header>

	<section class="py-5">
		<div class="container px-4 px-lg-5 mt-5">
			<div class="row gx-4 gx-lg-5">
				<div class="col-lg-6">
					<!-- 상품 이미지 동적 로딩 -->
					<img th:src="'/images/' + ${category} + '/' + ${product.image}" alt="Product Image"
						class="product-image">
				</div>
				<div class="col-lg-6">
					<!-- 상품 이름 및 가격 동적 표시 -->
					<h3 class="product-name" th:text="${product.productName}"></h3>
					<p class="product-price" th:text="'가격: ₩' + ${product.price}"></p>
					<!-- 상품 설명 -->
					<p>설명</p>
					<!-- 사이즈 정보 추가 -->
					<div class="sizes">
						<span>SIZE</span>
						<p th:text="${product.prodSize}"></p>
					</div>



					<!-- 배송 정보 추가 -->
					<div class="shipping-info">
						<span>배송 정보</span>
						<p>배송 방법: 택배</p>
						<p>배송 비용: ₩3,000 (₩80,000 이상 구매 시 무료배송)</p>
					</div>

					<!-- 장바구니에 담기 버튼 -->
					<form th:action="@{/insertBasket(productNo=${product.productNo})}" method="post">
						<button type="submit" class="btn btn-primary mt-3">장바구니에 담기</button>
					</form>

					<!-- 주문하기 버튼 -->
					<form th:action="@{/directOrderView}" method="get">
						<input type="hidden" name="productNo" th:value="${product.productNo}" />
						<button type="submit" class="btn btn-primary mt-3">주문하기</button>
					</form>
				</div>
			</div>
		</div>
	</section>


	<th:block th:include="footer.html"></th:block>


	<script>
		// JavaScript로 클릭 이벤트를 처리하여 페이지 이동
		document.querySelectorAll('.product').forEach(function (product) {
			product.addEventListener('click', function () {
				const productNo = this.getAttribute('data-product-no');
				window.location.href = '/item/details?productNo=' + productNo; // 'productNo' 파라미터를 전달
			});
		});
	</script>
</body>

</html>