<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="/css/main.css" rel="stylesheet" />
	<link href="/css/product.css" rel="stylesheet" />

</head>

<body>
	<header th:include="Header :: body"></header>

	<img th:src="'/images/' + ${category} + '/' + ${product.image}" alt="Product Image" class="product-image">
	<h3 class="product-name" th:text="${product.productName}"></h3>
	<p class="product-price" th:text="'가격: ₩' + ${product.price}"></p>



</body>
<script>
	// JavaScript로 클릭 이벤트를 처리하여 페이지 이동
	document.querySelectorAll('.product').forEach(function (product) {
		product.addEventListener('click', function () {
			const productNo = this.getAttribute('data-product-no');
			window.location.href = '/item/details?productNo=' + productNo; // 'productNo' 파라미터를 전달
		});
	});
</script>

<th:block th:include="footer.html"></th:block>

</html>