<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="/css/main.css" rel="stylesheet" />

</head>

<body>
	<header th:include="header :: body"></header>

	<img th:src="${param.imageUrl}" alt="Product Image" class="product-image">
	<h3 class="product-name" th:text="${param.productName}"></h3>
	<p class="product-price" th:text="'가격: ₩' + ${param.productPrice}"></p>


	<th:block th:include="footer.html"></th:block>
</body>

</html>