<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<link href="/css/main.css" rel="stylesheet" />
	<link href="/css/product.css" rel="stylesheet" />
</head>

<body>
	<header th:include="Header :: body"></header>

	<section>
		<h2>신발</h2>
		<div class="product-container">
			<!-- topProducts 리스트를 순회하여 상품 출력 -->
			<div th:each="product : ${shoes}" class="product" th:data-product-no="${product.productNo}">
				<img th:src="'/images/shoes/' + ${product.image}" alt="Product Image" class="product-image">
				<h4 th:text="${product.productName}"></h4>
				<p th:text="${product.price}"></p>
			</div>
		</div>
	</section>

</body>
<script>
	// JavaScript로 클릭 이벤트를 처리하여 페이지 이동
	document.querySelectorAll('.product').forEach(function (product) {
		product.addEventListener('click', function () {
			const productNo = this.getAttribute('data-product-no');
			window.location.href = '/item/details?productNo=' + productNo; // 'productNo' 파라미터를 전달
		});
	});
</script>
<th:block th:include="footer.html"></th:block>

</html>