<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
	<meta name="description" content="" />
	<meta name="author" content="" />
	<title>Simple Sidebar - Start Bootstrap Template</title>
	<!-- Favicon-->
	<link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
	<!-- Core theme CSS (includes Bootstrap)-->
	<link href="/adminPage/css/styles.css" rel="stylesheet" />
</head>

<body>
	<th:block th:replace="~{/layout/adminLayout :: setContent(~{this :: content})}">
		<th:block th:fragment="content">
			<!-- Page content-->
			<div id="page-content-wrapper">
				<div class="container-fluid">
					<h1 class="mt-4">Add Product</h1>
					<form th:action="@{/admin/addProduct}" method="POST" enctype="multipart/form-data" id="product"
						name="product">
						<div class="col-md-2">
							<div class="form-group">
								<label for="productName">Product Name:</label>
								<input type="text" class="form-control" id="productName" name="productName" required>
							</div>
						</div>
						<div class="col-md-2">
							<div class="form-group">
								<label for="prodCategory">Product Category:</label>
								<select class="form-control" id="prodCategory" name="prodCategory" required>
									<option value="1">Top</option>
									<option value="2">Bottom</option>
									<option value="3">Shoes</option>
									<option value="4">Etc</option>
									<option value="5">Sale</option>
								</select>
							</div>
						</div>
						<div class="col-md-2">
							<div class="form-group">
								<label for="price">Price:</label>
								<input type="number" class="form-control" id="price" name="price" required>
							</div>
						</div>
						<div class="col-md-2">
							<div class="form-group">
								<label for="prodSize">Product Size:</label>
								<input type="text" class="form-control" id="prodSize" name="prodSize" required>
							</div>
						</div>
						<div class="col-md-2">
							<div class="form-group">
								<label for="salesQuantity">Sales Quantity:</label>
								<input type="number" class="form-control" id="salesQuantity" name="salesQuantity"
									required>
							</div>
						</div>
						<div class="col-md-2">

							<div class="form-group">
								<label for="inventory">Inventory:</label>
								<input type="number" class="form-control" id="inventory" name="inventory" required>
							</div>
						</div>
						<div class="col-md-2">
							<div class="form-group">
								<label for="image">Image:</label>
								<input type="file" class="form-control-file" id="image" name="image" accept="image/*"
									required>
							</div>
						</div>
						<button type="submit" class="btn btn-primary">Submit</button>
					</form>
				</div>
			</div>

		</th:block>
	</th:block>
	<!-- Bootstrap core JS-->
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
	<!-- Core theme JS-->
	<script src="/adminPage/js/scripts.js"></script>
</body>

</html>