<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="/css/main.css" rel="stylesheet" />
	<link href="/css/product.css" rel="stylesheet" />

</head>

<body>
	<header th:include="adminHeader :: body"></header>

	<img th:src="'/images/' + ${category} + '/' + ${product.image}" alt="Product Image" class="product-image">
	<h3 class="product-name" th:text="${product.productName}"></h3>
	<p class="product-price" th:text="'가격: ₩' + ${product.price}"></p>


	<th:block th:include="footer.html"></th:block>
</body>
</html>