<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>

	<style>
		.table th,
		.table td {
			padding: 0.5rem;
			text-align: center;
			/* 셀 패딩 조정 */
		}

		.table th {
			background-color: #f8f9fa;
			/* 헤더 배경색 */
			color: #495057;
			/* 헤더 텍스트 색상 */
		}
	</style>
</head>

<body>
	<header th:include="header :: body"></header>

	<div class="container my-4">
		<div class="row justify-content-center">
			<div class="col-md-6">
				<div class="card">
					<div class="card-header">
						마이페이지
					</div>
					<div class="card-body">
						<table class="table">
							<tr>
								<th>이름</th>
								<td th:text="${user.name}"></td>
							</tr>
							<tr>
								<th>이메일</th>
								<td th:text="${user.email}"></td>
							</tr>
							<tr>
								<th>전화번호</th>
								<td th:text="${user.phoneNumber}"></td>
							</tr>
							<tr>
								<th>주소</th>
								<td th:text="${user.address}"></td>
							</tr>
							<tr>
								<th>상세주소</th>
								<td th:text="${user.detailedAddress}"></td>
							</tr>
							<tr>
								<th>주소번호</th>
								<td th:text="${user.zipNum}"></td>
							</tr>
						</table>
						<div class="text-center">
							<a th:href="@{/mypage/editProfile}" class="btn btn-primary mx-1">프로필 수정</a>
							<a th:href="@{/mypage/orderHistory}" class="btn btn-secondary mx-1">주문 내역</a>
							<a th:href="@{/mypage/basket}" class="btn btn-info mx-1">장바구니</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<th:block th:include="footer.html"></th:block>
</body>

</html>