<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>My Orders</title>

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>

<body>
	<header th:include="header :: body"></header>

	<div class="container my-4">
		<h1 class="text-center">My Orders</h1>
		<div th:if="${myOrders != null and not myOrders.isEmpty()}">
			<table class="table table-hover">
				<thead class="thead-light">
					<tr>
						<th>Order No</th>
						<th>Date</th>
						<th>name</th>
						<th>Details</th>
					</tr>
				</thead>
				<tbody>
					<th:block th:each="order : ${myOrders}">
						<tr>
							<td th:text="${order.orderNo}"></td>
							<td th:text="${order.orderDate}"></td>
							<td>
								<div th:each="entry : ${order.productQuantities.entrySet()}">
									<span
										th:text="${productsMap[entry.key].productName}"></span>
								</div>
							</td>
							<td><a th:href="@{/orderDetails(orderNo=${order.orderNo})}"
									class="btn btn-primary btn-sm">View Details</a></td>
						</tr>
					</th:block>
				</tbody>
			</table>
		</div>
		<div th:if="${myOrders == null or myOrders.isEmpty()}" class="text-center">
			<p>No orders found.</p>
		</div>
		<div class="text-center mt-4">
			<a th:href="@{/mypage/mypages}" class="btn btn-secondary">뒤로 가기</a>
		</div>
	</div>

	<th:block th:include="footer.html"></th:block>
</body>

</html>
