<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
	<meta name="description" content="" />
	<meta name="author" content="" />
	<title>Simple Sidebar - Start Bootstrap Template</title>
	<!-- Favicon-->
	<link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
	<!-- Core theme CSS (includes Bootstrap)-->
	<link href="/adminPage/css/styles.css" rel="stylesheet" />
</head>

<body>
	<!-- Page content-->
	<th:block th:replace="~{/layout/adminLayout :: setContent(~{this :: content})}">
		<th:block th:fragment="content">
			<div class="container-fluid">
				<h3>중고거래 게시판</h3>
				<table class="table">
					<thead>
						<tr>
							<th>번호</th>
							<th>제목</th>
							<th>거래 유형</th>
							<th>내용</th>
							<th>작성자</th>
							<th>등록일</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="tradeBoard : ${tradeBoards}">
							<td th:text="${tradeBoard.tradeBoardNo}"></td>

							<td><a th:href="@{/admin/tradeBoard/detail/{tradeBoardNo}(tradeBoardNo=${tradeBoard.tradeBoardNo})}"
									th:text="${tradeBoard.title}"></a></td>

							<td>
								<span th:if="${tradeBoard.tradeType == 1}">판매중</span>
								<span th:if="${tradeBoard.tradeType == 2}">구매중</span>
								<span th:if="${tradeBoard.tradeType == 3}">판매완료</span>
								<span th:if="${tradeBoard.tradeType == 4}">구매완료</span>
							</td>
							<td th:text="${tradeBoard.content}"></td>
							<td th:text="${tradeBoard.member.memberId}"></td>
							<td th:text="${tradeBoard.registrationDate}"></td>
						</tr>
					</tbody>
				</table>
			</div>
		</th:block>
	</th:block>


	<!-- Bootstrap core JS-->
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
	<!-- Core theme JS-->
	<script src="/adminPage/js/scripts.js"></script>
</body>

</html>