<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <link href="/css/main.css" rel="stylesheet" />
</head>

<body>
    <header th:include="header :: body"></header>

    <h2>커뮤니티 게시판</h2>

    <div th:each="post : ${boardList}">
        <div>
            <h3 th:text="${post.title}"></h3>
            <p th:text="${post.content}"></p>
            <p>작성자: <span th:text="${post.memberId}"></span></p>
            <p>작성일: <span th:text="${#dates.format(post.regDate, 'yyyy-MM-dd HH:mm:ss')}"></span></p>
            <p>조회수: <span th:text="${post.viewCount}"></span></p>
            <p>좋아요: <span th:text="${post.likeCount}"></span></p>
            <p>댓글 수: <span th:text="${post.commentCount}"></span></p>
        </div>
        <hr>
    </div>

    <!-- 게시물 등록으로 이동하는 버튼 -->
    <a th:href="@{/board/insertBoard}">게시물 등록</a>

    <th:block th:include="footer.html"></th:block>
</body>

</html>
