<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
	<meta charset="UTF-8">
	<link href="/css/main.css" rel="stylesheet" />
	<link href="/css/board.css" rel="stylesheet" />
</head>

<body>
	<header th:include="header :: body"></header>
	<a th:href="@{/register}" class="register-link">게시물 등록</a>
	<table class="styled-table">
		<thead>
			<tr>
				<th>Title</th>
				<th>작성자</th>
				<th>Views</th>
				<th>Likes</th>
				<th>Comments</th>
				<th>Posted Date</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="community : ${communities}">
				<td>
					<a th:href="@{/getBoard(communityNo=${community.communityNo})}" th:text="${community.title}">제목</a>
				</td>
				<td th:text="${community.member.name}"></td>
				<td th:text="${community.viewCount}"></td>
				<td th:text="${community.likeCount}"></td>
				<td th:text="${community.commentCount}"></td>
				<td th:text="${#dates.format(community.regDate, 'yyyy-MM-dd')}"></td>
			</tr>
		</tbody>
	</table>

	<div class="pagination" th:if="${not memberWrite.empty}">
		<a th:if="${memberWrite.number > 0}"
			th:href="@{/communityBoardList(page=${memberWrite.number - 1})}">이전</a>
		<ul>
			<li th:each="pageNum : ${#numbers.sequence(1, memberTotalPages)}">
				<a th:href="@{/communityBoardList(page=${pageNum - 1})}" th:text="${pageNum}"
					th:class="${pageNum == memberCurrentPage ? 'current-page' : ''}"></a>
			</li>
		</ul>
		<a th:if="${memberCurrentPage < memberTotalPages}"
			th:href="@{/communityBoardList(page=${memberCurrentPage})}">다음</a>
	</div>


	<th:block th:include="footer.html"></th:block>
</body>

</html>