<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
	<meta charset="UTF-8">
	<!-- Custom CSS for Board View -->
	<link href="/css/boardView.css" rel="stylesheet" />
	<!--폰트 어썸 라이브러리 -->
	<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" rel="stylesheet">
	<style>
		.hidden {
			display: none;
		}

		.sub-reply {
			margin-left: 20px;
			padding-left: 20px;
			/* 좌측 패딩 추가 */
		}
	</style>
</head>

<body>
	<header th:include="header :: body"></header>

	<div class="like-section">
		<button id="likeButton" class="btn" th:classappend="${isLikedByCurrentUser} ? 'btn-warning' : 'btn-success'"
			th:onclick="'javascript:toggleLike(' + ${community.communityNo} + ');'">
			<span th:text="${isLikedByCurrentUser} ? '좋아요 취소' : '좋아요'"></span>
		</button>
	</div>

	<!-- 게시글 내용 Section -->
	<table class="table table-hover styled-table">
		<tbody>
			<tr>
				<th class="CommuTitle-th">게시글 제목</th>
				<td class="CommuTitle-td"><span th:text="${community.title}"></span></td>
			</tr>
			<tr>
				<th class="CommuContant-th">게시글 내용</th>
				<td class="CommuContant-td"><textarea class="form-control content-textarea" rows="10" maxlength="100"
						th:text="${community.content}" readonly></textarea></td>
			</tr>
			<tr>
				<th class="author-th">작성자</th>
				<td class="author-td"><span th:text="${community.member.name}"></span></td>
				<th class="date-th">등록 날짜</th>
				<td class="date-td"><span th:text="${#dates.format(community.regDate, 'yyyy-MM-dd HH:mm:ss')}"></span>
				</td>
			</tr>
		</tbody>
	</table>

	<!-- 댓글 Section -->
	<div class="comments-section">
		<h2 class="comment-title">COMMENT</h2>
		<table class="comments-table">
			<thead>
				<tr>
					<th style="text-align: center;">이름</th>
					<th>댓글</th>
					<th>작성날짜</th>
				</tr>
			</thead>
			<tbody>
				<th:block th:each="reply, replyStat : ${replies}">
					<!-- 부모 댓글 -->
					<tr class="reply">
						<td th:text="${reply.member.name}"></td>
						<td>
							<div class="reply-text">
								<!-- 비밀 댓글 로직 -->
								<span
									th:if="${reply.isPrivate && (reply.member.memberId == currentUserId || community.member.memberId == currentUserId)}">
									<i class="fas fa-lock"></i> <span th:text="${reply.content}"></span>
								</span>
								<span
									th:if="${reply.isPrivate && reply.member.memberId != currentUserId && community.member.memberId != currentUserId}">
									<i class="fas fa-lock"></i> 비밀 댓글입니다.
								</span>
								<span th:if="${!reply.isPrivate}" th:text="${reply.content}"></span>
							</div>
						</td>
						<td th:text="${#dates.format(reply.regDate, 'yyyy-MM-dd HH:mm:ss')}"></td>
					</tr>
					<!-- 대댓글 작성 폼 -->
					<tr class="reply-form hidden sub-reply">
						<td></td>
						<td>
							<form th:action="@{/addCommuSubReply}" method="post">
								<input type="hidden" name="communityNo" th:value="${community.communityNo}" />
								<input type="hidden" name="parentReplyId" th:value="${reply.replyNo}" />
								<textarea name="replyContent" class="form-control" rows="2"
									placeholder="대댓글을 작성하세요..."></textarea>
								<button type="submit" class="btn btn-secondary">대댓글 작성</button>
							</form>
						</td>
						<td></td>
					</tr>
					<!-- 대댓글 -->
					<th:block th:if="${!reply.children.isEmpty()}" th:each="subReply : ${reply.children}">
						<tr class="sub-reply">
							<td th:text="${subReply.member.name}"></td>
							<td th:text="${subReply.content}"></td>
							<td th:text="${#dates.format(subReply.regDate, 'yyyy-MM-dd HH:mm:ss')}"></td>
						</tr>
					</th:block>
				</th:block>
			</tbody>
		</table>
	</div>

	<div class="comment-form">
		<h3 class="comment-title">댓글 작성</h3>
		<form th:action="@{/addCommuReply}" method="post">
			<input type="hidden" name="communityNo" th:value="${community.communityNo}" />
			<textarea name="replycontent" class="form-control flex-grow-1 mr-2" rows="1"
				placeholder="댓글을 작성하세요..."></textarea>
			<div class="form-check form-check-inline mr-2">
				<input type="checkbox" name="isPrivate" class="form-check-input" id="privateCheck">
				<label class="form-check-label" for="privateCheck">비밀댓글로 설정</label>
			</div>
			<button type="submit" class="btn btn-primary">댓글 작성</button>
		</form>
	</div>

	<!-- 게시글 관리 Section -->
	<div class="management-section" th:if="${#authentication.principal.username == community.member.memberId}">
		<form th:action="@{/editBoard/{communityNo}(communityNo=${community.communityNo})}" method="get">
			<button type="submit" class="btn btn-info">게시글 수정</button>
		</form>
		<form th:action="@{/deleteBoard}" method="post">
			<input type="hidden" name="communityNo" th:value="${community.communityNo}" />
			<button type="submit" class="btn btn-danger" onclick="return confirm('정말 삭제하시겠습니까?');">게시글 삭제</button>
		</form>
	</div>

	<form method="get" th:action="@{/communityBoardList}">
		<button type="submit" class="btn btn-secondary">뒤로 가기</button>
	</form>

	<script>
		function toggleLike(communityNo) {
			$.ajax({
				url: '/toggleLike',
				type: 'POST',
				data: {communityNo: communityNo},
				success: function (response) {
					if (response.liked) {
						$('#likeButton').text('좋아요 취소').removeClass('btn-success').addClass('btn-warning');
					} else {
						$('#likeButton').text('좋아요').removeClass('btn-warning').addClass('btn-success');
					}
				},
				error: function (error) {
					console.error(error);
				}
			});
		}
		document.addEventListener('DOMContentLoaded', function () {
			document.querySelectorAll('.reply').forEach(function (replyRow) {
				replyRow.addEventListener('click', function () {
					var replyFormRow = this.nextElementSibling;
					while (replyFormRow && !replyFormRow.classList.contains('reply-form')) {
						replyFormRow = replyFormRow.nextElementSibling;
					}
					if (replyFormRow) {
						replyFormRow.classList.toggle('hidden');
					}
				});
			});
		});
	</script>

	<th:block th:include="footer.html"></th:block>
	<!-- Bootstrap JS -->
	<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>

</html>