<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
	<meta charset="UTF-8">
	<link href="/css/main.css" rel="stylesheet" />
	<link href="/css/board.css" rel="stylesheet" />
</head>

<body>
	<header th:include="header :: body"></header>

	<table>
		<tr>
			<th>게시글 제목</th>
			<td><span th:text="${community.title}"></span></td>
		</tr>
		<tr>
			<th>게시글 내용</th>
			<td>
				<p th:text="${community.content}"></p>
			</td>
		</tr>
		<tr>
			<th>작성자</th>
			<td><span th:text="${community.member.name}"></span></td>
		</tr>
		<tr>
			<th>조회수</th>
			<td><span th:text="${community.viewCount}"></span></td>
		</tr>
		<tr>
			<th>좋아요 수</th>
			<td><span th:text="${community.likeCount}"></span></td>
		</tr>
	</table>

	<h2>댓글</h2>
	<div th:each="reply : ${community.replies}">
		<p th:text="${reply.content}"></p>
		<p>작성자: <span th:text="${reply.member.name}"></span></p>
	</div>

	<h3>댓글 작성</h3>
	<form th:action="@{/addReply}" method="post">
		<input type="hidden" name="communityNo" th:value="${community.communityNo}" />
		<textarea name="content"></textarea>
		<button type="submit">댓글 작성</button>
	</form>

	<div>
		<a th:href="@{/deleteBoard(communityNo=${community.communityNo})}" onclick="return confirm('정말 삭제하시겠습니까?');">
			<button type="button">삭제</button>
		</a>
		<button type="button" onclick="goBack()">뒤로 가기</button>
	</div>
	<script>
		function goBack() {
			window.history.back();
		}
	</script>

	<th:block th:include="footer.html"></th:block>
</body>

</html>