<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<link href="/css/main.css" rel="stylesheet" />
	<link href="/css/board.css" rel="stylesheet" />
</head>

<body>
	<header th:include="header :: body"></header>

	<table>
		<tr>
			<th>제목</th>
			<td th:text="${tradeBoard.title}"></td>
		</tr>
		<tr>
			<th>작성자</th>
			<td th:text="${tradeBoard.member.name}"></td>
		</tr>
		<tr>
			<th>내용</th>
			<td th:text="${tradeBoard.content}"></td>
		</tr>
		<tr>
			<th>제품 상태</th>
			<td>
				<span th:if="${tradeBoard.tradeType == 1}">판매중</span>
				<span th:if="${tradeBoard.tradeType == 2}">구매중</span>
				<span th:if="${tradeBoard.tradeType == 3}">판매완료</span>
				<span th:if="${tradeBoard.tradeType == 4}">구매완료</span>
			</td>
		</tr>

		<tr>
			<th>작성일</th>
			<td th:text="${#dates.format(tradeBoard.registrationDate, 'yyyy-MM-dd')}"></td>
		</tr>
	</table>
	<div>
		<form th:action="@{/updateBoard/{tradeBoardNo}(tradeBoardNo=${tradeBoard.tradeBoardNo})}" method="get">
			<button type="submit">게시글 수정</button>
		</form>

		<form th:action="@{/deleteTradeBoard}" method="post">
			<input type="hidden" name="tradeBoardNo" th:value="${tradeBoard.tradeBoardNo}" />
			<button type="submit" onclick="return confirm('정말 삭제하시겠습니까?');">게시글 삭제</button>
		</form>

		<button type="button" onclick="goBack()">뒤로 가기</button>
	</div>

	<script>
		function goBack() {
			window.history.back();
		}
	</script>
	<th:block th:include="footer.html"></th:block>
</body>

</html>