<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<link href="/css/main.css" rel="stylesheet" />
	<link href="/css/board.css" rel="stylesheet" />
</head>

<body>
	<header th:include="header :: body"></header>
	<a th:href="@{/board/tradeInsert}" class="register-link">게시물 등록</a>
	<table class="styled-table">
		<thead>
			<tr>
				<th>Title</th>
				<th>작성자</th>
				<th>Type</th>
				<th>Posted Date</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="tradeBoard : ${tradeBoardList}">
				<td>
					<a th:href="@{/getTradeBoard(tradeBoardNo=${tradeBoard.tradeBoardNo})}"
						th:text="${tradeBoard.title}">제목</a>
				</td>
				<td th:text="${tradeBoard.member.name}"></td>
				<td th:text="${tradeBoard.tradeType}"></td>
				<td th:text="${#dates.format(tradeBoard.registrationDate, 'yyyy-MM-dd')}"></td>
			</tr>
		</tbody>
	</table>
	<th:block th:include="footer.html"></th:block>
</body>

</html>