<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<link href="/css/main.css" rel="stylesheet" />
	<link href="/css/board.css" rel="stylesheet" />
</head>

<body>
	<header th:include="header :: body"></header>
	<form method="get" action="/tradeBoardList" th:action="@{/tradeBoardList}" class="search-form">
		<select name="searchType">
			<option value="title">제목</option>
			<option value="author">작성자</option>
		</select>
		<input type="text" name="search" th:value="${search}" placeholder="검색어 입력" />
		<button type="submit">검색</button>
	</form>

	<!-- 공지글 섹션 -->
	<div class="notice-section">
		<h2>공지 글</h2>
		<table>
			<thead>
				<tr>
					<th>제목</th>
					<th>작성일</th>
				</tr>
			</thead>
			<tbody>
				<!-- adminWrite를 사용하여 공지사항 출력 -->
				<tr th:each="notice : ${adminWrite}">
					<td><a th:href="@{/getTradeBoard(tradeBoardNo=${notice.tradeBoardNo})}"
							th:text="${notice.title}"></a></td>
					<td th:text="${#dates.format(notice.regDate, 'yyyy-MM-dd')}"></td>
				</tr>
			</tbody>
		</table>
	</div>

	<a th:href="@{/board/tradeInsert}" class="register-link">게시물 등록</a>
	<table class="styled-table">
		<thead>
			<tr>
				<th>제목</th>
				<th>작성자</th>
				<th>현황</th>
				<th>작성일</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="tradeBoard : ${tradeBoards.content}">
				<td><a th:href="@{/getTradeBoard(tradeBoardNo=${tradeBoard.tradeBoardNo})}"
						th:text="${tradeBoard.title}"></a></td>
				<td th:text="${tradeBoard.member?.name}"></td>
				<td>
					<span th:if="${tradeBoard.tradeType == 1}">판매중</span>
					<span th:if="${tradeBoard.tradeType == 2}">구매중</span>
					<span th:if="${tradeBoard.tradeType == 3}">판매완료</span>
					<span th:if="${tradeBoard.tradeType == 4}">구매완료</span>
				</td>
				<td th:text="${#dates.format(tradeBoard.registrationDate, 'yyyy-MM-dd')}"></td>
			</tr>
		</tbody>
	</table>

	<div class="pagination" th:if="${tradeBoards != null and not tradeBoards.empty}">
		<a th:if="${tradeBoards.number > 0}"
			th:href="@{/tradeBoardList(page=${tradeBoards.number - 1}, search=${search})}">이전</a>
		<ul>
			<li th:each="pageNum : ${#numbers.sequence(1, memberTotalPages)}">
				<a th:href="@{/tradeBoardList(page=${pageNum - 1}, search=${search})}" th:text="${pageNum}"
					th:class="${pageNum == memberCurrentPage ? 'current-page' : ''}"></a>
			</li>
		</ul>
		<a th:if="${memberCurrentPage < memberTotalPages}"
			th:href="@{/tradeBoardList(page=${tradeBoards.number + 1}, search=${search})}">다음</a>
	</div>

	<th:block th:include="footer.html"></th:block>
</body>

</html>