/* 전체 내용을 가운데에 배치 */

.narrow-container {
    max-width: 70% !important; /* 최대 너비를 강제 적용 */
    margin-left: auto !important; /* 좌측 마진 강제 적용 */
    margin-right: auto !important; /* 우측 마진 강제 적용 */
}

/* 댓글 및 댓글 작성 텍스트 스타일 */
.comment-title {
    font-family: 'Arial', sans-serif; /* 원하는 폰트로 변경 가능 */
    font-size: 20px; /* 원하는 크기로 조정 */
    color: #333; /* 글자 색상 */
    margin-bottom: 10px; /* 필요에 따라 조정 */
    text-align: center;
}
.comment-form {
    display: flex;
    align-items: center;
    padding: 0; /* 필요에 따라 조정 */
    
}

.comment-form .form-control {
    margin-right: 0.5rem; /* 체크박스와의 간격 */
    flex-grow: 1; /* 가능한 모든 공간 차지 */
}


.comment-form .btn {
    white-space: nowrap; /* 텍스트 줄바꿈 방지 */
}
.comment-form .form-check {
    margin-right: 0.5rem; /* 버튼과의 간격 */
}

.comment-form .form-check-input {
    margin-top: 0; /* 체크박스 정렬 */
}

.comment-form .custom-control {
    margin-right: 1rem; /* 체크박스 오른쪽 마진 */
}

.comment-form .custom-control-label {
    margin-bottom: 0; /* 라벨 마진 제거 */
}

.comment-form .form-inline .form-group {
    flex: 1; /* 폼 그룹을 유연하게 설정 */
}

/* 추가적인 미세 조정이 필요한 경우 */
.form-inline .form-control {
    display: inline-block;
    width: auto; /* 폼 컨트롤 너비 자동 조정 */
}

.form-inline .form-group {
    margin-bottom: 0; /* 폼 그룹 마진 제거 */
}

/* 좋아요 버튼 섹션 스타일링 */
.like-section {
    margin-bottom: 20px;
}

.like-section form {
    display: inline-block;
    margin-right: 10px;
}

/* 게시글 테이블 스타일링 */
.styled-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.styled-table th,
.styled-table td {
        padding: 12px 15px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 0;
}
/* 제목, 내용, 작성자 칸에 대한 특별한 너비 조정 */
.styled-table th {
    width: 20%; /* 예: 제목과 작성자 칸의 너비 */
}

.styled-table td {
    width: 80%; /* 예: 내용 칸의 너비 */
}
.styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}

.styled-table tbody tr.active-row {
    font-weight: bold;
    color: #009879;
}
/* 작성자 칸 너비 조정*/
.styled-table .author-th,
.styled-table .author-td {
    max-width: 100px; /* 최대 너비 설정 */
    /* 기타 스타일링 규칙 */
}


/* 등록 날짜 칸 스타일링 조정 */
.styled-table .date-th,
.styled-table .date-td {
    max-width: 200px; /* 최대 너비 설정 */
}

.content-textarea {
    height: auto; /* 자동 높이 조정 */
    min-height: 100px; /* 최소 높이 설정 */
    overflow-y: hidden; /* 입력 내용이 일정 높이를 넘어가면 스크롤바가 생기지 않게 설정 */
    resize: none; /* 크기 조절 기능 비활성화 */
}

/* 댓글 섹션 스타일링 */
.comments-table th {
    text-align: left; /* 텍스트 왼쪽 정렬 */
    background-color: #f4f4f4; /* 배경색 */
    border-bottom: 1px solid #ddd; /* 하단 테두리 */
    padding: 10px; /* 패딩 */
}


.comments-table {
    width: 100%;
    border-collapse: collapse; /* 테이블 선 겹침 제거 */
}

.comments-table td {
    border: none; /* 테이블 선 제거 */
    padding: 10px; /* 적당한 패딩으로 공간 조정 */
    vertical-align: top; /* 내용을 상단 정렬 */
}

.reply-author {
    width: 15%; /* 작성자 칸의 너비 */
    text-align: center; /* 작성자 이름 왼쪽 정렬 */
}

.reply-content {
    width: 70%; /* 내용 칸의 너비 */
    text-align: left; /* 내용 왼쪽 정렬 */
}

.reply-date {
    width: 15%; /* 날짜 칸의 너비 */
    text-align: left; /* 날짜 오른쪽 정렬 */
}

.comments-section {
    margin-bottom: 30px; /* 아래쪽에 30px의 공간을 추가 */
}


/* 댓글 작성 폼 스타일링 */
.comments-section form textarea {
    margin-top: 10px;
}

/* 게시글 관리 버튼 스타일링 */
.management-section {
        margin-top: 20px;
    text-align: center; /* 버튼들을 가운데 정렬 */
}

.management-section form {
    display: inline-block;
    margin-right: 10px;
}

/* 댓글 작성자 본인 표시*/
.author-self {
    color: blue;
}

/* 반응형 디자인 */
@media (max-width: 768px) {
    .styled-table th,
    .styled-table td {
        white-space: normal;
    }
    .management-section form {
        display: block;
        margin: 10px auto;
    }
    .styled-table .author-th,
    .styled-table .author-td,
    .styled-table .date-th,
    .styled-table .date-td {
        max-width: 100%; /* 모바일 화면에서는 너비 제한 해제 */
    }
}