<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>Error Page</title>
	<!-- Add your CSS links here -->
</head>

<body>
	<h2>Error Page</h2>
	<!-- Customize the error message or provide additional information here -->
	<p>An error occurred. Please try again later.</p>
	<!-- You can include more details about the error, if needed -->
	<!-- <p th:text="${errorDetails}"></p> -->

	<p><a href="/">Home</a></p>
	<!-- Add your footer content here -->
</body>

</html>