<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <style>
        body {
            margin: 0;
            padding: 0;
            font-family: Arial, sans-serif;
            display: flex;
            flex-direction: column;
            min-height: 100vh;
            background-color: #f4f4f4;
        }

        footer {
            background-color: #333;
            padding: 20px;
            color: #fff;
            text-align: center;
            position: fixed;
            bottom: 0;
            width: 100%;
        }
    </style>
</head>

<body>
    <!-- 내용 -->

    <footer>
        <p>&copy; 2023 쇼핑몰. All rights reserved.</p>
        <p>주소: 서울시 강남구 쇼핑로 123</p>
        <p>전화번호: 02-1234-5678</p>
        <p>Email: info@shoppingmall.com</p>
    </footer>
</body>

</html>
