@charset "UTF-8";
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center; /* 중앙 정렬 */
}

h2 {
    margin: 20px;
    color: #333;
}

/* 폼 스타일링 */
form {
    max-width: 600px;
    margin: auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f9f9f9;
}
.form_wrap {
	margin-bottom: 20px;
}

/* 레이블과 입력 필드 스타일링 */
label {
    display: block; /* 블록 요소로 설정 */
    margin: 10px 0;
}

input[type="text"],
textarea,
select {
    width: 100%; /* 전체 너비 사용 */
    padding: 10px;
    margin: 5px 0;
    border-radius: 4px;
    border: 1px solid #ccc;
}

/* 버튼 스타일링 */
button {
    padding: 10px 20px;
    margin: 10px 5px;
    border-radius: 4px;
    border: none;
    cursor: pointer;
}
.button-trade {
	text-align: center;
	margin-top: 20px;	
}
button[type="submit"] {
    background-color: #4CAF50;
    color: white;
}

button[type="submit"]:hover {
    background-color: #45a049;
}

button[type="button"] {
    background-color: #f0ad4e;
    color: white;
}

button[type="button"]:hover {
    background-color: #ec971f;
}
