body {
	font-family: Arial, sans-serif;
	background-color: #f4f4f4;
}

form {
	width: 300px;
	margin: 50px auto;
	background: #fff;
	padding: 20px;
	border-radius: 5px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

table {
	width: 100%;
}

td {
	padding: 10px;
}

input[type="text"],
input[type="password"],
input[type="email"],
input[type="submit"] {
	width: 100%;
	padding: 8px;
	margin: 5px 0;
	box-sizing: border-box;
}

input[type="submit"] {
	background-color: #4caf50;
	color: white;
	cursor: pointer;
}

a {
	text-decoration: none;
	color: #007bff;
	margin-left: 10px;
}

a:hover {
	text-decoration: underline;
}

.footer-links a {
	color: inherit;
	/* 기본 색상 유지 */
	text-decoration: none;
	/* 밑줄 제거 */
}

.footer-links a:hover,
.footer-links a:focus {
	color: inherit;
	/* 호버 및 포커스 시 색상 유지 */
	text-decoration: underline;
	/* 호버 시 밑줄 표시 */
}

