<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Register</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<style>
		.input-group {
			margin-bottom: 10px;
		}

		.error-message {
			color: red;
			font-size: 14px;
			margin-top: 5px;
		}
	</style>
	<script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
	<script src="/js/daum_address_api.js"></script>
	<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
</head>

<body>

	<div class="container">
		<div class="row justify-content-center">
			<div class="col-md-8">
				<div class="card">
					<div class="card-header">Register</div>
					<div class="card-body">

						<form class="form-horizontal" th:action="@{/register}" th:method="post" id="registrationForm">

							<div class="form-group">
								<label for="id" class="cols-sm-2 control-label">ID</label>
								<div class="cols-sm-10">
									<div class="input-group input-group-with-margin">
										<span class="input-group-addon"><i class="fa fa-user fa"
												aria-hidden="true"></i></span>
										<input type="text" class="form-control" name="memberId" id="memberId"
											placeholder="ID를 입력해 주세요!" oninput="validateId()" />
										<button type="button" class="btn btn-primary"
											onclick="checkIdAvailability()">중복확인</button>
									</div>
									<p id="idErrorMessage" class="error-message"></p>
									<p id="idAvailabilityMessage"></p>
								</div>
							</div>

							<div class="form-group">
								<label for="password" class="cols-sm-2 control-label">비밀번호</label>
								<div class="cols-sm-10">
									<div class="input-group input-group-with-margin">
										<span class="input-group-addon"><i class="fa fa-envelope fa"
												aria-hidden="true"></i></span>
										<input type="password" class="form-control" name="password" id="password"
											placeholder="비밀번호를 입력해 주세요!" onkeyup="checkPasswordStrength()" />
									</div>
									<div id="passwordStrength" style="margin-top: 5px; height: 10px; width: 100%;">
									</div>
									<div id="passwordStrengthText" style="margin-top: 5px; text-align: center;"></div>
								</div>
							</div>

							<div class="form-group">
								<label for="pwdCheck" class="cols-sm-2 control-label">비밀번호 확인</label>
								<div class="cols-sm-10">
									<div class="input-group input-group-with-margin">
										<span class="input-group-addon"><i class="fa fa-lock fa-lg"
												aria-hidden="true"></i></span>
										<input type="password" class="form-control" name="pwdCheck" id="pwdCheck"
											placeholder="비밀번호를 한번 더 입력해 주세요!" onkeyup="checkPwd()" />
									</div>
									<div id="pwdMatchMessage"></div>
								</div>
							</div>

							<div class="form-group">
								<label for="name" class="cols-sm-2 control-label">이름</label>
								<div class="cols-sm-10">
									<div class="input-group input-group-with-margin">
										<span class="input-group-addon"><i class="fa fa-user fa"
												aria-hidden="true"></i></span>
										<input type="text" class="form-control" name="name" id="name"
											placeholder="이름을 입력해 주세요!" />
									</div>
								</div>
							</div>

							<div class="form-group">
								<label for="phone" class="cols-sm-2 control-label">전화번호</label>
								<div class="cols-sm-10">
									<div class="input-group input-group-with-margin">
										<span class="input-group-addon"><i class="fa fa-phone fa"
												aria-hidden="true"></i></span>
										<!-- 전화번호를 세 칸으로 나누고 각 칸 사이에 '-'를 추가 -->
										<input type="tel" class="form-control" name="phoneNumber" id="phoneNumber"
											placeholder="전화번호를 입력해 주세요!" oninput="formatPhoneNumber()" />
									</div>
									<div id="phoneErrorMessage" style="color: red;"></div>
								</div>
							</div>

							<div class="form-group">
								<label for="email" class="cols-sm-2 control-label">이메일</label>
								<div class="cols-sm-10">
									<div class="input-group input-group-with-margin">
										<span class="input-group-addon"><i class="fa fa-envelope fa"
												aria-hidden="true"></i></span>
										<input type="text" class="form-control" name="emailId" id="emailId"
											placeholder="이메일 주소" />
									</div>
										<span class="input-group-addon">@</span>
									<div class="input-group input-group-with-margin">
										<select class="form-control" name="emailDomain" id="emailDomain"
											onchange="checkDirectInput()">
											<option value="gmail.com">gmail.com</option>
											<option value="naver.com">naver.com</option>
											<option value="yahoo.com">yahoo.com</option>
											<option value="direct">직접 입력</option>
										</select>
										<input type="text" class="form-control" name="directEmail" id="directEmail"
											placeholder="도메인을 직접 입력하세요" style="display: none;" />
									</div>
									<button type="button" class="btn btn-primary"
										onclick="sendVerificationCode()">인증하기</button>
								</div>
							</div>

							<div class="form-group">
								<label for="verificationCode" class="cols-sm-2 control-label">인증번호</label>
								<div class="cols-sm-10">
									<div class="input-group input-group-with-margin">
										<input type="text" class="form-control" name="verificationCode"
											id="verificationCode" placeholder="인증번호 입력" />
										<button type="button" class="btn btn-primary" onclick="verifyCode()">확인</button>
									</div>
									<p id="verificationMessage"></p>
								</div>
							</div>
							<div class="form-group">
								<label for="address" class="cols-sm-2 control-label">주소</label>
								<div class="cols-sm-10">
									<div class="input-group input-group-with-margin">
										<span class="input-group-addon"><i class="fa fa-home fa"
												aria-hidden="true"></i></span>
										<input type="text" id="zipNum" name="zipNum" class="form-control"
											placeholder="우편번호" style="width: 120px;">
										<span class="input-group-btn">
											<input type="button" class="btn btn-default"
												onclick="sample6_execDaumPostcode()" value="우편번호 찾기">
										</span>
									</div>
									<input type="text" id="address" name="address" class="form-control"
										placeholder="주소">
									<input type="text" id="detailedAddress" name="detailedAddress" class="form-control"
										placeholder="상세주소">
									<input type="hidden" id="sample6_extraAddress" name="sample6_extraAddress">
								</div>
							</div>

							<!-- 이메일 인증 상태를 위한 숨겨진 입력 필드 -->
							<input type="hidden" id="emailVerified" name="emailVerified" value="false">

						</form>
						<!-- 회원가입 버튼 -->
						<button type="button" class="btn btn-primary" onclick="validateAndSubmitForm()">회원가입</button>
					</div>

					<div class="login-register">
						<a href="system/login">Login</a>
					</div>
				</div>
			</div>
		</div>
	</div>

	<script src="/js/joinForm.js"></script>
</body>

</html>